- content_for :header do
    %h1
        Application


%ul{ "class" => "categories", "data-role" => "listview"}
    %li{"data-role" => "list-divider"}
        Shop by category

    %a{ href: "/main/map", "data-transition" => "slide", "data-role" => "list-divider"}
        Show Map

    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
    aasdasd
    %br
